
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

}

body {
  /* background: linear-gradient(#ffffff, #c0c0c0); */
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #f6f3f3;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: space-between;

}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(#ffffff, #c0c0c0);
  padding: 20px;

}

li {
  list-style: none;
}

h1 {
  color: #003b70;
  text-align: center;
}

.studentInformation{
 justify-content: space-around;
flex-direction: column;
padding: 5px;
}

form {
  display: flex;
  flex-wrap: wrap;

}

ul {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}